################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/shift_planning/FileContentIndex
/.vs/shift_planning/CopilotIndices/17.14.786.1071
